<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Qui a dit ça ?</h1>
      <p class="lead">Tu sauras tout</p>
    </div>

<div class="container"
<div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal d-flex w-100 justify-content-center">Détails du gossip</h4>
          </div>
          <div class="card-body"
            <ul class="list-unstyled mt-3 mb-4">
            <%= @user.first_name %>
            <%= @user.last_name %><br><br>
            <p><em><%= @user.description %></em></p><br>
            <%= @user.email %><br><br>
            <%= @user.age %><br><br>
            <%= link_to "#{@user.city.name}", city_path(@user.city.id) %>
            </ul>
          </div>
        </div>
